[{:itonami.blueprint/social-impact [:maritime-safety :crew-welfare :catch-data-transparency], :itonami.blueprint/domain :maritime/deep-sea-fishery-crew-scheduling, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "6223", :itonami.blueprint/name "Deep-sea Fishery Crew Scheduling and Logistics Coordination", :itonami.blueprint/governor :deep-sea-fishery-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-6223", :itonami.blueprint/license "AGPL-3.0-or-later"}]
